// ######## border ########
.border-half {
	border-radius: 50%;
}
.base-circle(@diameter) {
	width: @diameter;
	height: @diameter;
	.border-half;
}

// width、height
.base-square(@sideLength) {
	width: @sideLength;
	height: @sideLength;
}

// ######## Text overflow ########
.text-overflow() {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.multi-overflow(@line: 2) {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: @line;
	overflow: hidden;
}

// ######## font size ########
.base-font(@fontSize: 24px) {
	font-size: @fontSize;
}

// ######## margin ########
.base-margin-left(@length) {
	margin-left: @length;
}
.base-margin-right(@length) {
	margin-right: @length;
}
.base-margin-top(@length) {
	margin-top: @length;
}
.base-margin-bottom(@length) {
	margin-bottom: @length;
}

// ######## horizon vertical ########
.base-position(@top, @left) {
	position: absolute;
	top: @top;
	left: @left;
	transform: translate(-50%, -50%);
}
